html,
body {
    margin: 0;
    padding: 0;
}

body {
    background-color: #F2F2F2;
    padding: 15px;
}

.layui-card {
    border-top: 3px solid #18bc9c;
    border-radius: 3px;
}

.layui-tab-content {
    background-color: #fff;
}

.layui-input {
    transition: none !important;
}

button {
    transition: none !important;
}

@media screen and (min-width:992px) {
    .layui-tab {
        margin-top: 0px;
    }
    .layui-col-md4,
    .layui-col-md8 {
        padding-left: 15px;
        padding-right: 15px;
    }
}